ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

li.image {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

li.image:hover {
  border: 1px solid #777;
}

li.image img {
  width: 100%;
  height: auto;
}

label.visibility-checkbox, input#visibility-checkbox {
    vertical-align: middle;
}